.content {
  display: flex;
  align-items: center;
  width: 70vw;
}
.pro_container {
  height: 2px;
  margin: auto;
  padding: 0;
  width: 60%;
}
.progress {
  margin: auto;
  background: white;
  border-radius: 6px;
  position: absolute;
  width: 60%;
}

.progress-bar {
  height: 5px;
  background-color: #ee303c;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  background-color: #00a6ff;
  width: 100%;
  animation: progressAnimationStrike 1800s;
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.circle1 {
  position: absolute;
  left: 0;
  color: #fff;
  border-radius: 50%;
  background-color: #3498db;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
  top: -30px;
}
.circle2 {
  position: absolute;
  left: 50%;
  background-color: #3498db;
  color: white;
  top: -30px;

  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
  animation: circle1anime 900s;
}
@keyframes circle1anime {
  0% {
    background-color: #fff;
    color: #999;
  }
  95% {
    background-color: white;
    color: #999;
  }
  100% {
    background-color: #3498db;
    color: #fff;
  }
}
.circle3 {
  position: absolute;
  right: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
  top: -30px;
  animation: circle2anime 1800s;
}
@keyframes circle2anime {
  0% {
    background-color: #fff;
    color: #999;
  }
  95% {
    background-color: white;
    color: #999;
  }
  100% {
    background-color: #3498db;
    color: #fff;
  }
}
.circle.active {
  background-color: #3498db;
  color: #fff;
  border: 3px solid #3498db;
}
